<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
    </configSections>
    <!-- Avaiable Configurations (Here list the default values): Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" -->
    <FineUI Language="en" EnableBigFont="true" DebugMode="true" />
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <!-- For project using Net3.5 or above, please don't forget to add these 2 proprites to pages node: controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" -->
        <pages>
            <controls>
                <add assembly="FineUI" namespace="FineUI" tagPrefix="x"/>
            </controls>
        </pages>
        <httpModules>
            <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
        </httpModules>
        <httpHandlers>
            <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
        </httpHandlers>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
    <!-- IIS7 Integrated Mode
    <system.webServer>
        <modules>
			<add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
        </modules>
		<httpHandlers>
            <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI"/>
			<add verb=”Get” path=”WebResource.axd” type=”System.Web.Handlers.AssemblyResourceLoader” />
        </httpHandlers>
        <httpErrors errorMode="Detailed"/>
        <asp scriptErrorSentToBrowser="true"/>
    </system.webServer>
    -->
</configuration>
